#include pyfda/fixpoint_widgets/*.png
#include pyfda/libs/pyfda_*.conf
recursive-include pyfda/ *
include *.md
include requirements.txt

# exclude byte-code files and github readme
exclude README.md
global-exclude *.py[cod]
