# Requirements for Travis and ReadTheDocs.org
#-----------------------------------------------
# This file is specified in the project settings 
# at ReadTheDocs.org and in .travis.yml
#-----------------------------------------------
numpy
scipy
matplotlib
pyqt5
docutils
nose
migen
# pytest
# coverage
# coveralls
