# Requirements for pip, Travis and ReadTheDocs.org
#-------------------------------------------------
# - pip reads this file via 'setup.py', filtering
#   out comments and 'nose'
# This file is specified in the project settings 
# at ReadTheDocs.org and in .travis.yml
#-------------------------------------------------
numpy
scipy >= 1.2.0
matplotlib >= 2.1
pyqt5
docutils
nose
mplcursors
numexpr
markdown
# pyfixp # no PyPI package yet ...
# pytest
# coverage
# coveralls
