# Build a distribution package and upload it to PyPI
# https://www.seanh.cc/2022/05/21/publishing-python-packages-from-github-actions/
# https://packaging.python.org/en/latest/tutorials/packaging-projects/#generating-distribution-archives

name: Publish to PyPI.org
on:
  release:
    types: [published]
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: python3 -m pip install --upgrade build && python3 -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
